@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Spartan',sans-serif;
}

#feature {
    display: flex;
   align-items:center ;
   justify-content: space-between;
   flex-wrap: wrap;
}
#firstSection .fe-box{
   width:180px;
   text-align:center;
   padding: 25px,15px;
   box-shadow: 20px 20px 34px rgba(0, 0,0,0.03);
   border: 1px solid#cce7d0;
   border-radius: 4px;
   

}
#firstSection .fe-box:hover{
   box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#firstSection .fe-box img{
   max-width:  100%;
   max-height: 100%;
}


#feature {
   display: flex;
  align-items:center ;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box{
  width:180px;
  text-align:center;
  padding: 25px,15px;
  box-shadow: 20px 20px 34px rgba(0, 0,0,0.03);
  border: 1px solid#cce7d0;
  border-radius: 4px;
  

}
#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#feature .fe-box img{
  max-width:  100%;
  max-height: 100%;
}


#product1{
  text-align: center;
}

#product1 .pro { 
  width:13rem;
  min-width:10rem;
  padding:10px 12px;
  border:1px solid #cce6d0;
  cursor: pointer;
  box-shadow: 20px 20px 20px rgba(0, 0,0,0.02);
  margin: 15px 0;
  position: relative;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 20px rgba(0, 0,0,0.09);
}

#product1 .pro img{
  width:100%;
  border-radius:20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top:7px;
  color:#1a1a1a;
  font-size:14px;
}

#product1 .pro .des i{
  font-size: 12px;
  color:rgb(243,181,25)

}

#product1 .pro .cart{
  width:40px;
  height:40px;
  line-height: 40px;
  border-radius:50px ;
  /* background-color: ; */
  font-weight:500;
  color:#088178;
  border: 1px solid #cce7d0;
  position:absolute;
  bottom:20px;
  right:10px;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:20px;
  flex-wrap: wrap ;
}

.section-m1{
   margin:40px 0;
   
}

.section-p1{
   padding:40px 80px;
   display: flex;
   flex-wrap: wrap ;

}

