<%- include("../layouts/adminhead.ejs") %>
<body style="background-color: #8fc4b7;">
  
    <div class="row">
      <div class="col">
      <section >
        <section class="h-100 h-custom" >
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                  <h3 class="d-flex justify-content-center align-items-center" >Reset Password </h3>
                <div class="col-lg-8 col-xl-6">
                  <div class="card rounded-3">
                 
                    <div class="card-body p-4 p-md-5">
          
                      <form class="px-md-2" id="resetFrom" >
                        <input type="hidden" name="enter" value="true">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example1q">email</label>
                          <input type="email"  class="form-control"  name="email" id="emailId" value="" required/>
                        </div>
                        <div class="form-outline mb-4">
                            <div id="passwordMessage"></div>
                            <label class="form-label" for="form3Example1q">Password</label>
                          <input type="password" id="form3Example1q" class="form-control"  name="password" id="password" value="" required/>
                        </div>
                        <div class="form-outline mb-4 row">
                          <div class="col-md-12">
                              <label class="form-label" for="description">Reset Password</label>
                          <input type="password" name="resetPassword" class="form-control form-control-md" id="resetPassword" value="" required>
                          </div>
                        </div>

                     
                         <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                       
                      </form>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <div id="OTP" style="display:none;"> 
            <div  class="container-fluid d-flex justify-content-center align-items-center " >
              <div class="container col-lg-4 d-flex flex-column justify-content-center align-items-center rounded-5 p-5 bg-white CardOTP" style="display: none;" >
                  
                  <span>Enter OTP Code</span>
                
                          <form id="otpForm" method="post" class="d-flex flex-column align-items-center">
                              <div style="display: flex;">
                                  <input class="code" type="text" placeholder="0" min="0" max="9"  style="width: 55px;" name="num_1" required maxlength="1">
                                  <input class="code" type="text" placeholder="0" min="0" max="9" name="num_2"style="width: 50px;" required maxlength="1">
                                  <input class="code" type="text" placeholder="0" min="0" max="9" name="num_3" style="width: 50px;" required maxlength="1">
                                  <input class="code" type="text" placeholder="0" min="0" max="9" name="num_4" style="width: 50px;"required maxlength="1">
                              </div>
                              <button class="btn mt-2 text-white" id="otp-btn" type="submit">validate</button>
                          </form>
        
                  <span class="mt-2 fs-5" id="time"></span>
                  <div id="timer" class="OTPtext mt-2" style="display:none">Don’t get the code?<a class="text-danger text-decoration-none" href="/login">Resent</a></div>
              </div>
          </div>
        
        </div>

      </section>


      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      
         const addressPost = document.getElementById("resetFrom");
         const emailMessage = document.getElementById("passwordMessage");

        addressPost.addEventListener("submit", async function(e){
            e.preventDefault();
            const email = addressPost.querySelector('[name="email"]').value

            const  password=addressPost.querySelector('[name = "password"]').value;
            const resetPassword= addressPost.querySelector('[name="resetPassword"]').value;

            if(password === resetPassword){
               
                const body = { 
                    password:password,
                    email:email
                }
                const response = await fetch("/loginResetPasswordPost",{method : "POST",headers:{
                    "Content-Type":"application/json"
                },body:JSON.stringify(body)})

                if(response.ok){
                  
                    document.querySelector("#OTP").style.display ="block"
                    const inputs = document.querySelectorAll('.code');
                    for (let i = 0; i < inputs.length; i++) {
                        inputs[i].addEventListener('input', function() {
                            if (this.value.length === this.maxLength) {
                                inputs[i + 1].focus();
                            }
                        });
                    }
                
                    let timeLeft = 59;
                    const Counter = document.getElementById('time');
                    const timerId = setInterval(countdown, 1000);
                
                    function countdown() {
                        const text = document.getElementById("timer");
                        if (timeLeft == -1) {
                            text.style.display = "inline-block";
                        } else {
                            Counter.innerHTML = '00 :' + " " + timeLeft;
                            timeLeft--;
                        }
                    }
                    setTimeout(function () {
                      document.querySelector("#OTP").style.display ="none"
                  }, 60000);
                }else{
                    showDynamicAlert("email is not exsist");
                }
            }else{
                showDynamicAlert();
            }
           

              function showDynamicAlert(message = "check the entered password",alertType = "danger",timeout =5000,targetContainerId = "passwordMessage"){

                  const alertDiv = document.createElement('div');
                  alertDiv.innerHTML = `
                      <div class="alert alert-dismissible show fade alert-${alertType}" role="alert">
                          <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                          <strong>${message}</strong>
                          </div>`;
                      const targetContainer = document.getElementById(targetContainerId);
                      
                      if (targetContainer) {
                  targetContainer.appendChild(alertDiv);  
                  setTimeout(function () {
                    alertDiv.remove();
                  }, timeout);
                }  
              } 
    })

    document.getElementById("otpForm").addEventListener("submit",async (e) =>{
      e.preventDefault();
      const info = new FormData(document.getElementById("otpForm"));
      let data = {};
     info.forEach((key,value)=>{
      data[value] = key
     })
    
     data["email"] = addressPost.querySelector('[name="email"]').value
     data["password"] = addressPost.querySelector('[name = "password"]').value;
      console.log(data)
      const response = await fetch("/forgetPassword",{method:"POST",
        headers:{
          "Content-Type":"application/json"
        },
        body:JSON.stringify(data)
        })

        if(response.ok){
          swal("Password changed")
                    .then((value) => {
                      
                      location.href = "/login";
                    });
        }else{
          swal({
              title: "Oop!",
              text: "not validee the otp!",
              icon: "error",
              button: "ok",
            });
        }
      })
        
        


      </script>
     
<%- include("../layouts/adminfooter.ejs") %>
