<%- include("../layouts/adminhead.ejs") %>
<body style="background-color: #8fc4b7;">
  
    <div class="row">
      <div class="col">
      <section >
        <section class="h-100 h-custom" >
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                  <h3 class="d-flex justify-content-center align-items-center" >Reset Password </h3>
                <div class="col-lg-8 col-xl-6">
                  <div class="card rounded-3">
                 
                    <div class="card-body p-4 p-md-5">
          
                      <form class="px-md-2" id="resetFrom" >
                        <input type="hidden" name="enter" value="true">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example1q">Eamil</label>
                          <input type="email"  class="form-control"  name="email" id="emailId" value="" required/>
                        </div>
                        <div class="form-outline mb-4">
                            <div id="passwordMessage"></div>
                            <label class="form-label" for="form3Example1q">Password</label>
                          <input type="password" id="form3Example1q" class="form-control"  name="password" id="password" value="" required/>
                        </div>
                        <div class="form-outline mb-4 row">
                          <div class="col-md-12">
                              <label class="form-label" for="description">Reset Password</label>
                          <input type="password" name="resetPassword" class="form-control form-control-md" id="resetPassword" value="" required>
                          </div>
                        </div>

                     
                         <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                       
                      </form>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
      </section>

      <script>
         const addressPost = document.getElementById("resetFrom");
         const emailMessage = document.getElementById("passwordMessage");
        // emailId.addEventListener("input", (e)=>{
        //     e.target.value = e.target.value.toLowerCase()
        // })

        addressPost.addEventListener("submit", async function(e){
            e.preventDefault();
            const email = addressPost.querySelector('[name="email"]').value

            const  password=addressPost.querySelector('[name = "password"]').value;
            const resetPassword= addressPost.querySelector('[name="resetPassword"]').value;

            if(password === resetPassword){
                // addressPost.action ="/loginResetPassword",
                // addressPost.method ="POST",
                // addressPost.submit()
                const body = {
                    password:password,
                    email:email
                }
                const response = await fetch("/loginResetPasswordPost",{method : "POST",headers:{
                    "Content-Type":"application/json"
                },body:JSON.stringify(body)})

                if(response.ok){
                    location.href = "/login";
                }else{
                    showDynamicAlert("email is not exsist");
                }
            }else{
                showDynamicAlert();
            }
           

              function showDynamicAlert(message = "check the entered password",alertType = "danger",timeout =5000,targetContainerId = "passwordMessage"){

                  const alertDiv = document.createElement('div');
                  alertDiv.innerHTML = `
                      <div class="alert alert-dismissible show fade alert-${alertType}" role="alert">
                          <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                          <strong>${message}</strong>
                          </div>`;
                      const targetContainer = document.getElementById(targetContainerId);
                      
                      if (targetContainer) {
                  targetContainer.appendChild(alertDiv);  
                  setTimeout(function () {
                    alertDiv.remove();
                  }, timeout);
                }  
              } 
    })


      </script>
     
<%- include("../layouts/adminfooter.ejs") %>
