<%- include("../layouts/adminhead") %>


<div id="wrapper" style="background-color: slategrey;">

    <!-- Sidebar -->
    <%- include("../layouts/userProfileSide.ejs") %>
    <!-- End of Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column my-4"> 
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center" >
        
                <div class="col-xl-10 col-lg-10 col-md-9  ">
        
                    <div class="card o-hidden border-0 shadow-lg my-5" >
                        <center>
                        <div  style="height: 20rem; width: 17rem;background-color: rgb(243, 179, 179);" class="card-body p-0 my-3 rounded border  border-success">
                                <center><h3 class="mt-5" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: rgb(182, 182, 182);"><i class="fa-solid fa-wallet"></i> Wallet</h3></center>
                                <h4 class="mt-5">₹ <%= wallet %></h4>
                                
                            </div>
                        </center>
                           <!-- <center><i class="fa-solid fa-wallet" style="font-size: 50px;"></i></center> -->
                           
                        </div>
                    </div>
        
                </div>
        
            </div>
        
        </div>
    </div>
</wrapper>



